.ideaContainer {
    margin: 50px 0;
    border: 1px solid rgb(0, 4, 28);
    border-radius: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    padding: 10px 0 20px 0;
}

.ideaTitle{
    margin: 10px 0 0 0 ;
}

.ideaImage {
    width: 10%;
    display: flex;
    margin-top: 10px;
}

.ideaImage img {
    border: 1px solid rgb(0, 4, 28);
    border-radius: 50%;
    width: 100%;
}

.aboutIdea {
    width: 40%;
    transition: 1s;
}

.ideaDescr {
    transition: 1s;
    white-space: nowrap;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    padding: 5px;
    /* Поля вокруг текста */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}
.ideaDescrActive{
    transition: 1s;
    white-space: normal;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    padding: 5px;
    /* Поля вокруг текста */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.ideaActivity {
    text-align: end;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.likes {
    margin-right: 20px;
}
.arrow{
    transition: 0.5s;
    width: 15px;
    height: 15px;
    margin: 0 0 40px 40px;
    transform: rotate(0deg);
}
.arrowActive{
    transition: 0.5s;
    transform: rotate(180deg);
}
.pencil{
    width: 30px;
    height: 30px;
}