.ideaContainer {
    margin: 50px 0;
    border: 1px solid rgb(0, 4, 28);
    border-radius: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    padding: 10px 20px;
}

.ideaContainer:hover {
    box-shadow: 0 0 20px 5px rgb(146, 162, 255);
}

.ideaTitle {
    margin: 10px 0 0 0;
}

.ideaImage {
    display: flex;
    margin-top: 10px;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.ideaAuthor {
    width: 100%;
    word-wrap: break-word;
}

.ideaImage img {
    border: 1px solid rgb(0, 4, 28);
    border-radius: 50%;
    width: 100%;
}

.aboutIdea {
    width: 40%;
    transition: 1s;
}

.ideaDescr {
    transition: 1s;
    white-space: nowrap;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    padding: 5px;
    width: 450px;
    /* Поля вокруг текста */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.ideaDescrActive {
    transition: 1s;
    white-space: normal;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.ideaActivity {
    text-align: end;
    display: flex;
    justify-content: initial;
}

.likes {
    margin-right: 20px;
}

.arrow {
    width: 20px;
    height: 20px;

    margin: 0 20px 0;
}

.arrowImg:hover {
    width: 17px;
    height: 17px;
    transition: 0.5s;
}

.arrowImg {
    width: 15px;
    height: 15px;
    transition: 0.5s;
    transform: rotate(0deg);
}

.arrowActive {
    transition: 0.5s;
    transform: rotate(180deg);
}

.pencil:hover {
    transition: 0.5s;
}

.pencil {
    width: 30px;
    height: 30px;
}

.authIdeas {
    display: contents;
}

.iconsNice {
    display: flex;
    padding-top: 10px;
}

.corecters {
    text-align: right;
    width: 90px;
    margin-top: 30px;
}

.avatar {
    width: 70px;
    height: 70px;
}

.deleteButton{
margin: 30px 0 0 20px;
    cursor: pointer;
    width: 30px;
}


@media (max-width: 1024px) {
    .container{
        max-width: 789px;
    }
    .ideaDescr{
        width: 90%;
    }
    .deleteButton{
        margin: 20px 0 0 20px;
    }
    .corecters{
        margin-top: 20px;
    }
}




@media (max-width: 750px) {
    .ideaContainer {
        justify-content: space-around;
        flex-direction: column;
    }

    .authIdeas {
        display: flex;
        justify-content: space-around;
    }

    .ideaActivity {
        width: auto;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
        display: flex;
    }

    .iconsNice {
        display: flex;
    }

    .img,
    .pencil {
        width: 15px;
    }

}

@media (max-width: 481px) {
    .ideaContainer {
        justify-content: space-between;
    }

    .ideaDescr {
        width: 100%;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }

    .aboutIdea {
        width: 70%;
        transition: 1s;
    }

    .ideaAuthor {
        font-size: 12px;
    }
    .arrow,
    .pencil {
        margin: 0 5px;
        width: 25px;
        height: 25px;
    }
    .arrowImg{
        width: 20px;
        height: 20px;
    }
    }