.ideaContainer {
    margin: 50px 0;
    border: 1px solid rgb(0, 4, 28);
    border-radius: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    padding: 10px 20px;
}

.ideaContainer:hover {
    box-shadow: 0 0 20px 5px rgb(146, 162, 255);
}

.ideaTitle {
    margin: 10px 0 0 0;
}

.ideaImage {
    display: flex;
    margin-top: 10px;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.ideaAuthor {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.ideaImage img {
    border: 1px solid rgb(0, 4, 28);
    border-radius: 50%;
    width: 100%;
}

.aboutIdea {
    width: 40%;
    transition: 1s;
}

.ideaDescr {
    transition: 1s;
    white-space: nowrap;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    padding: 5px;
    width: 450px;
    /* Поля вокруг текста */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.ideaDescrActive {
    transition: 1s;
    white-space: normal;
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    background: #fc0;
    /* Цвет фона */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.ideaActivity {
    text-align: end;
    display: flex;
    justify-content: initial;
}

.likes {
    margin-right: 20px;
}

.arrow {
    width: 20px;
    height: 20px;

    margin: 0 20px 0;
}

.arrowImg:hover {
    width: 17px;
    height: 17px;
    transition: 0.5s;
}

.arrowImg {
    width: 15px;
    height: 15px;
    transition: 0.5s;
    transform: rotate(0deg);
}

.arrowActive {
    transition: 0.5s;
    transform: rotate(180deg);
}

.pencil:hover {
    transition: 0.5s;
}

.pencil {
    width: 30px;
    height: 30px;
}

.authIdeas {
    display: contents;
}
.tags-area {
    margin-top: 30px;
}

.iconsNice {
    display: flex;
    padding-top: 10px;
}

.corecters {
    text-align: right;
    width: 90px;
    margin-top: 30px;
    display: flex;
}

.avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.deleteButton img {
    width: 25px;
}

.deleteButton{
    margin: 10px 0;
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
}


@media (max-width: 1024px) {
    .container{
        max-width: 789px;
    }
    .ideaDescr{
        width: 90%;
    }
    .deleteButton{
        margin: 20px 0 0 20px;
    }
    .corecters{
        margin-top: 20px;
    }
    .authIdeas {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .ideaContainer {
        flex-direction: column;
        align-items: center;
    }
    .iconsNice {
        display: flex;
    }
    .avatar {
        margin-bottom: 10px;
    }
    .aboutIdea {
        width: 100% !important;
        transition: 1s;
    }
    .ideaTitle {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .corecters {
        justify-content: center;
    }
    
}




@media (max-width: 750px) {
    .ideaContainer {
        justify-content: space-around;
        flex-direction: column;
    }

    .ideaActivity {
        width: auto;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
        display: flex;
    }

    .img,
    .pencil {
        width: 15px;
    }
    .ideaImage {
        width: 100%;
    }

}

@media (max-width: 481px) {
    .ideaContainer {
        justify-content: space-between;
    }
}
.search-answers {
    background-color: white;
    width: 200px;
    display: none;
}
.search-answer:hover {
    background-color: grey;
    cursor: pointer;
}
.search-input {
    margin-top: 10px;
    border: 1px solid #150b50;
    border-radius: 15px;
    width: 200px;
    background-blend-mode: normal, soft-light;
    box-sizing: border-box;
    padding: 5px 10px 5px 15px;
    outline: none;
    font-size: 15px;
    color: #0a0528;
    font-weight: 500;
}
.search-input:focus + .search-answers, .search-answers:hover {
    display: block;
}
.tag-select:hover {
    color: blueviolet;
    cursor: pointer;
}

.ideaDescr {
    width: 100%;
}

.aboutIdea {
    width: 70%;
    transition: 1s;
}

.ideaAuthor {
    font-size: 12px;
}
.arrow,
.pencil {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
}
.arrowImg{
    width: 20px;
    height: 20px;
}
