.mainInputs input{    
    margin-top: 10px;
    border: 1px solid #150b50;
    border-radius: 20px;
    width: 100%;
    background-blend-mode: normal, soft-light;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    color: #0a0528;
    font-weight: 500; 
    padding: 5px 10px 5px 15px;
   
}
.yourIdea{
    height: 200px;
    margin-bottom: 10px;
}
select{
    color: black;
}
p{
    margin-top: 40px;
    margin-bottom: 20px;
}
.closebuttonIdea{
    margin-left: 316px;
    font-family: cursive;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    color: #0a0528;
}



