.userPhoto {
    width: 200px;
    text-align: -webkit-center;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 50px;
}


.userPhoto img {
    margin: auto;
    width: 100%;

}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}