.stage-img{
    width: 100%;
}
.ground{
    background-color: transparent;
    color: aliceblue;
    border: 0px;
    border-bottom: 3px;
    font-size: 16pt;
    line-height: 1.27;
    margin-top: 18px;
    font-weight: 400;
    color: aliceblue;
    font-family: Roboto, Arial;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,.4);
}
.stageContainer{
    display: flex;
    margin: 0px;
    padding: 0%;
    justify-content: space-between;
}
.buttonClick{
    display: flex;
    flex-direction: column;
    padding: 14px 8px;
    width: 100%;
    border-bottom: 2px;
    
}
.ground .arrow {
    position: absolute;
    right: 10px;
    transition: 0.8s;
    top: 0px;
    width: 24px;
}
.ground .arrow.active {
    transform: rotate(180deg)
}
.stage-content{
    width: 300px;
    margin: 40px auto;
}
.stage-content img {
    margin-bottom: 20px;
}

@media (max-width: 751px) {
    .stageContainer{
        margin-top: 50px;
        flex-wrap: wrap;
    }
    .ground{
        margin: 5px auto;
        width: 400px;
        border-bottom: 1px solid rgba(255,255,255,.4);
        padding: 0 0 20px 0;
    }
    .ground {
        width: 300px;
    }
}    