body {
  margin: 0px;
  padding: 0px;
}

.obshug {
  text-align: center;
}

.applyBlock{
  background-color: #150b50; 
  padding: 20px 100px 20px 100px;
}

.backgraund-galaxy{
  display: table-cell;
  height: 105vh;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.timer {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;

}
.timerCclock{
  margin-bottom: 40px;
}

h1 {
  font-family: Roboto, Arial;
  font-weight: 700;
  font-size: 83px;
  line-height: 1.25;
  margin: 0px;
}

h2 {
  font-family: Roboto, Arial;
  font-size: 16pt;
  line-height: 1.27;
  margin-top: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.stattup-text {
  padding: 14px;
  margin-top: 100px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
}
.time-spending{
  font-size: 2rem;
  color: aliceblue;
  font-weight: 700;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.addApply{
  margin-top: 50px;
}
.whichDateStart{
  text-align: center;
}

.wonnaStartUp{
  background-color: transparent;
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 2rem 50px;
  font-family: Roboto, Arial;
  color: aliceblue;
  font-size: 13pt;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  min-height: 143px;
  max-width: 100%;
}




.addApply{
  margin-top: 50px;
}
.shark-text{
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
  color: aliceblue;
  font-family: Roboto, Arial;
}





.map {
  background-color: #00000021;
  ;
  padding: 20px 100px 20px 100px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial;
}

.street,
.college {
  color: black;
  font-size: 16pt;
  line-height: 1.27;
  margin-top: 18px;
  font-weight: 400;
  text-align: left;
}

.college-text {
  display: flex;
  justify-content: space-between
}

.street {
  width: 30%;
}

h3 {
  text-align: center;
  font-size: 28pt;
  line-height: 1.21;
  font-weight: 400;
}

.college {
  width: 60%;
}

.realMap {
  margin-bottom: 80px;
  height: 400px;
}

.backgraund-galaxy {
  background-position: center center;
  background-image: url(/src/assets/galaxy.jpg);
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
}


.preFooter {
  background-color: rgba(21, 11, 80, 1);
  padding: 20px 100px 20px 100px;
  word-wrap: break-word;
  font-family: Roboto, Arial;

}

.noTeam {
  font-family: 'Roboto Condensed';
  font-size: 28pt;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  font-family: Roboto, Arial;

}

.wonnaTeam-button {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  border: 3px;


}

.wonnaTeam-button a {
  color: aliceblue;
  font-size: 13pt;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8px 70px;
}

.footer {
    background-color: rgba(21, 11, 80, 1);
    
}

.hub {
  background-color: rgba(21, 11, 80, 1);
  padding: 7px 100px 6px 100px;
  text-align: center;
  font-family: Roboto, Arial;
  font-size: 8pt;
  line-height: 1.2;
  margin-top: 0px;
}
.profButton{
  margin-top: 50px;
  font-size: 40px;
  background-color: #16b355b0;
}

@media (max-width: 1024px){
  .addApply {
    margin-top: 160px;
  }
}

@media (max-width: 790px) {
  .applyBlock {
    padding: 20px 3px 20px 3px;
  }

  h1 {
    font-size: 50px;
  }

  .stage-content {
    width: 200px;
    margin: 40px auto;
  }

  h2 {
    font-size: 15pt;
  }
}
@media (max-width: 530px){
  .backgraund-galaxy{
    height: 105vh;
  }
  .wonnaStartUp{
    padding: 2rem 0px;
  }
  .timerCclock{
    margin-bottom: 42px;
  }
  .time-spending{
    font-size: 1.5rem;
  }

  .shark-text {
    font-size: 25px;
    margin-top: 10px;

  }

  .box {
    margin: 0px 10px;
  }

  .Ccontainer {
    flex-direction: column;
  }

  .map {
    padding: 20px 3px 20px 3px;
  }

  .college-text {
    flex-direction: column;
  }

  .street {
    width: 100%;
  }

  .college {
    width: 100%;
  }

  .preFooter {
    padding: 20px 3px 20px 3px;
  }

  .footer {
    padding: 20px 3px 20px 3px;
  }
  .addApply{
    margin-top: 210px;
  }

  .noTeam {
    font-size: 25px;
    line-height: 1.21;
    font-weight: 500;
  }
}

.profile {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.profile img {
  width: 76px;
}