img{
    width: 100%;
    height: 740px;
    position: absolute;
}
body{
    margin: 0px;
    padding: 0px;
}
.MainHeader{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 767px){
    img{
        height: 800px;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    img{
        height: 1000px;
    }
}

