body {
  margin: 0px;
  padding: 0px;
}

.Apply {
  background-color: #150b50;
  padding: 30px 0 100px;
}

.timer {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;

}

.timerCclock {
  margin-bottom: 230px;
}

h1 {
  font-family: Roboto, Arial;
  font-weight: 700;
  font-size: 83px;
  line-height: 1.25;
  margin: 0px;
}

h2 {
  font-family: Roboto, Arial;
  font-size: 16pt;
  line-height: 1.27;
  margin-top: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.stattup-text {
  padding: 14px;
  margin-top: 100px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
}

.time-spending {
  font-size: 26.0pt;
  color: aliceblue;
  font-weight: 400;
}

.whichDateStart {
  text-align: center;
}

.wonnaStartUp {
  background-color: hsl(262deg 52% 47% / 49%);
  padding: 8px 50px;
  font-family: Roboto, Arial;
  color: aliceblue;
  font-size: 13pt;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

.shark-text {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
  color: aliceblue;
  font-family: Roboto, Arial;
}





.map {
  background-color: #00000021;
  ;
  padding: 20px 100px 20px 100px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial;
}

.street,
.college {
  color: black;
  font-size: 16pt;
  line-height: 1.27;
  margin-top: 18px;
  font-weight: 400;
  text-align: left;
}

.college-text {
  display: flex;
  justify-content: space-between
}

.street {
  width: 30%;
}

h3 {
  text-align: center;
  font-size: 28pt;
  line-height: 1.21;
  font-weight: 400;
}

.college {
  width: 60%;
}

.realMap {
  margin-bottom: 80px;
  height: 400px;
}

.backgraund-galaxy {
  background-position: center center;
  background-image: url(/src/assets/galaxy.jpg);
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
}


.preFooter {
  background-color: rgba(21, 11, 80, 1);
  padding: 20px 100px 20px 100px;
  word-wrap: break-word;
  font-family: Roboto, Arial;

}

.noTeam {
  font-family: 'Roboto Condensed';
  font-size: 28pt;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  font-family: Roboto, Arial;

}

.wonnaTeam-button {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  border: 3px;


}

.wonnaTeam-button a {
  color: aliceblue;
  font-size: 13pt;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8px 70px;
}

.footer {
  background-color: rgb(214, 214, 214);
}

.hub {
  background-color: aliceblue;
  padding: 7px 100px 6px 100px;
  text-align: center;
  font-family: Roboto, Arial;
  font-size: 8pt;
  line-height: 1.2;
  margin-top: 0px;
}



@media (max-width: 790px) {
  .applyBlock {
    padding: 20px 3px 20px 3px;
  }

  h1 {
    font-size: 50px;
  }

  .stage-content {
    width: 200px;
    height: 300px;
    margin: 40px auto;
  }

  h2 {
    font-size: 15pt;
  }

  .realMap {
    margin-top: 50px;
  }

  .timerCclock {
    margin-bottom: auto
  }
}

@media (max-width: 751px) {
  .container {
    max-width: 580px;
    margin: 0 auto;
    padding: 10px;
  }

  .backgraund-galaxy {
    height: 100%;
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    width: 350px;
    margin: 0 auto;
  }

  .stattup-text {
    margin-top: 20px;
  }

  .timerCclock {
    margin-bottom: 111px;
  }

  .time-spending {
    font-size: 24.0pt;
  }

  .shark-text {
    font-size: 25px;
    margin-top: 10px;

  }

  .box {
    margin: 0px 10px;
  }

  .Ccontainer {
    flex-direction: column;
  }

  .map {
    padding: 20px 3px 20px 3px;
  }

  .college-text {
    flex-direction: column;
  }

  .street {
    width: 100%;
  }

  .college {
    width: 100%;
  }

  .preFooter {
    padding: 20px 3px 20px 3px;
  }

  .footer {
    padding: 20px 3px 20px 3px;
  }

  .box {
    font-size: 15px;
    margin: 0;
  }

  .backgraund-galaxy {
    background-size: cover;
  }

  .realMap {
    width: 500px;
    margin: 50px auto;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 365px;
    margin: 0px auto;
  }

  h1 {
    font-size: 40px;
    width: 280px;
  }

  .realMap {
    width: 350px;
    height: 200px;
    margin: 20px auto;
  }

  .wonnaStartUp {
    width: 300px;
  }

  .noTeam {
    font-size: 25px;
    line-height: 1.21;
    font-weight: 500;
  }
}

