@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
}

body {
    font-family: Arial;
}
.stattup-text img {
    margin: 0 auto;
}
.hub a {
    margin-right: 40px;
}
.hub a:last-child {
    margin-right: 0px;
}
.count-users {
    text-align: center;
    color: white;
    margin-top: 10px;
}