@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
}

body {
    font-family: Arial;
}
.stattup-text img {
    margin: 0 auto;
}
.checked\:bg-primary:checked {
    --tw-bg-opacity: 1;
    background-color: rgb(59 113 202/var(--tw-bg-opacity));
}
.checked\:bg-primary:checked {
    --tw-bg-opacity: 1;
    background-color: rgb(59 113 202/var(--tw-bg-opacity));
}
.hub a {
    margin-right: 40px;
}
.hub a:last-child {
    margin-right: 0px;
}
.count-users {
    text-align: center;
    color: white;
    margin-top: 10px;
}
@media (max-width: 500px) {
    .hub a {
        margin-right: 0px;
    }
    .hub {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 30px;
    }
}
span.text {
    font-family: Roboto,Arial;
    font-weight: 700;
    color: #b2ff00 !important;
}